@model SAEP22.Models.Equipamentos

@{
    ViewData["Title"] = "Detalhes";
}

<h5>Comentários</h5>

<div>
    <div class="mt-5 mb-5 d-flex justify-content-between align-items-center flex-wrap">
        <h4>@Html.DisplayFor(model => model.Equipamento)</h4>
        <a asp-action="Index" class="btn btn-link-dark">Voltar</a>
    </div>
    <hr />
    <div class="d-flex justify-content-center align-items-center">
        <img src="~/img/equipaments/@Html.DisplayFor(model => model.Imagem)" alt="Imagem do equipamento" />
    </div>
    <hr />
    <div class="d-flex justify-content-center align-items-center text-center">
        <p>@Html.DisplayFor(model => model.Descricao)</p>
    </div>
</div>

<div class="mt-2 mb-2">
    <div class="col-md-4">
        <h5>Comentar</h5>
        <i class="erro">@TempData.Peek("Mensagem")</i>

        <form name="comentarioForm" method="POST" action='@Url.Action("Comentar")'>
            
            <div onclick="validateForm()">
                <div class="form-group">
                    <input class="form-control" name="Comentario" id="comentarios" />
                </div>

                <input class="form-control" name="IdPerfil" hidden value="@ViewBag.Perfil" />
                <input class="form-control" name="IdEquipamento" hidden value="@Model.Id" />

                <div class="form-group">
                    <button type="submit" class="btn btn-link">Comentar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.Comentarios != null)
{
    <div class="mt-5">
        <div class="col-md-4" style="border: 1px solid #c1c1c1">
            <h5>Comentários dos usuários</h5>

            @foreach (var item in ViewBag.Comentarios)
            {
                <div class="comentarios-container">
                    <p class="comentario-perfil">Usuário @item.Perfis.Perfil</p>
                    <p class="comentario">@item.Comentario - @item.Data</p>
                    @if (ViewBag.Perfil =="2")
                    {                          
                        <a style="width:192px" class="btn btn-link-dark" asp-action="ExcluirComentario" asp-route-id="@item.Id">Excluir comentário</a>                          
                    }
                </div>
            }
        </div>
    </div>
}

<script>
    function validateForm() {
        let x = document.forms["comentarioForm"]["Comentario"].value;
        if (x.trim() === "" || x.trim() === " ") {
            document.querySelector('button[type="submit"]').disabled = true;
        } else {
            document.querySelector('button[type="submit"]').disabled = false;
        }
        var pass = document.getElementById('comentarios').value = passcode;

        if (passcode !== '' || passcode !== ' ') {
            document.querySelector('button[type="submit"]').disabled = false;
        }
    }
</script>
